name: Release APWorld
on:
  push:
    tags:
      - '**'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
            ref: ${{ github.head_ref || github.ref_name }}
  
      - name: Setup .NET 8.x
        uses: actions/setup-dotnet@v4
        with:
            dotnet-version: '8.x'
        
      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Publish a release (Windows)
        run: dotnet publish -f net8.0 -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true /p:EnableCompressionInSingleFile=true -o ./publish

      # try these later
      # - name: Publish a release (Linux)
      #   run: dotnet publish -f net8.0-windows10.0.19041.0 -c Release -r linux-x64 --self-contained true /p:PublishSingleFile=true /p:EnableCompressionInSingleFile=true /p:PublishAppxPackage=false

      # - name: Publish a release (Mac)
      #   run: dotnet publish -f net8.0-windows10.0.19041.0 -c Release -r osx-x64 --self-contained true /p:PublishSingleFile=true /p:EnableCompressionInSingleFile=true /p:PublishAppxPackage=false

      - name: Rename Files
        run: |
            mv ./publish/MedievilArchipelago.exe ./publish/MedievilArchipelago_${{ github.ref_name }}_x64.exe
            mv ./Assets/Medievil-SCES-00311-AP-Textures.zip ./Assets/Medievil-SCES-00311-AP-Textures-${{ github.ref_name }}.zip

      - name: Publish new client
        uses: softprops/action-gh-release@v2
        with:
          files: "./publish/MedievilArchipelago_${{ github.ref_name }}_x64.exe"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Textures
        uses: softprops/action-gh-release@v2
        with:
          files: "./Assets/Medievil-SCES-0031-AP-Textures.exe"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}